SECRET_KEY=yoursecretkey
DEBUG=True or false
DATABASE_NAME=yourdatabase
DATABASE_USER=username
DATABASE_PASSWORD=yourpassword
DATABASE_HOST=yourlocalhost
DATABASE_PORT=5432
AFRICASTALKING_USERNAME=sandbox
AFRICASTALKING_API_KEY=apikey
DATABASE_URL=postgres://username:password@localhost:5432/databsaename
OAUTH_CLIENT_ID=xxxaa.apps.googleusercontent.com
OAUTH_CLIENT_SECRET=clientsecret